.app {
  position: relative;
  padding: 20px;
  padding-top: 80px;
  padding-left: 20px;
  text-align: left;
  width: 100%;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: auto;
  object-fit: contain;
  z-index: 9999;
}

h1 {
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.grades {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

.grades p {
  font-weight: 400;
  text-align: left;
  color: #fff;
}
